@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 3rem 0 0 0;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  transition: .5s;
}
a{
  text-decoration: none;
}
.header{
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #F7F6FB;
  z-index: 100;
  transition: .5s;
}
.header-toggle{
  color: #1d4052;
  font-size: 1.5rem;
  cursor: pointer;
}
.header-toggle i{
  margin-left: 15px;
}
.header-img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header-img img{
  width: 40px;
}
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: 68px;
  height: 100vh;
  background-color: #1d4052;
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: 100;
}
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -12px;
}
.nav-logo, .nav-link, .nav-link .active{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .4rem 0 .4rem 1.5rem;
}
.nav-logo{
  margin-bottom: 1rem;
}
.nav-logo-icon{
  font-size: 1.25rem;
  color: #AFA5D9;
}
.nav-logo-name{
  color: #AFA5D9;
  font-weight: 700;
}
.nav-link{
  position: relative;
  color: #AFA5D9;
  margin-bottom: 1.5rem;
  transition: .3s;
}
.nav-link:hover{
  color: #fff;
}
.nav-icon{
  font-size: 1.25rem;
}
.show{
  left: 0;
}
.body-pd{
  padding-left: 5.25rem;
}
.active{
  color: #AFA5D9;
}
.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #1d4052;
}
@media screen and (min-width: 768px){
  body{
    margin: 4rem 0 0 0;
  }
  .header{
    height: 4rem;
    padding: 0 2rem 0 6.25rem;
  }
  .header-toggle i{
    margin-left: 15px;
  }
  .header-img{
    width: 40px;
    height: 40px;
  }
  .header-img img{
    width: 45px;
  }
  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show{
    width: 224px;
  }
  .body-pd{
    padding-left: 225px;
  }
}
/* admin menu stylesheet starts */
.action{
	position: fixed;
	top: 20px;
	right: 30px;
}
.action .profile{
	cursor: pointer;
}
.action .profile img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
  margin-top: -8px;
}
.action .menu{
	position: absolute;
	top: 80px;
	right: -20px;
	padding: 10px 20px;
	background: #1d4052;
	width: 200px;
	box-sizing: 0 5px 25px rgba(0,0,0,0.1);
	border-radius: 15px;
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
}
.action .menu.active{
	top: 50px;
	visibility: visible;
	opacity: 1;
}
.action .menu::before{
	content: '';
	position: absolute;
	top:-5px;
  left: 150px;
	width: 20px;
	height: 20px;
	background: #1d4052;
	transform: rotate(45deg);
}
.action .menu span{
	font-size: 16px;
	color: #AFA5D9;
	font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.action .menu ul{
  padding: 0;
}
.action .menu ul li{
	list-style: none;
	padding: 10px 0;
	border-top: 1px solid rgba(0,0,0,0.05);
	display: flex;
	align-items: center;
}
.action .menu ul li i{
	max-width: 20px;
	margin-right: 10px;
	transition: 0.5s;
}
.action .menu ul li a{
	display: inline-block;
	text-decoration: none;
	color: #AFA5D9;
	font-weight: 500;
	transition: 0.5s;
}
.action .menu ul li a:hover{
	color: #fff;
}
/* admin menu stylesheet ends */
/* dashboard stylesheet starts */
.dashboard{
	background:#fff;
	width:95%;
	margin:4rem auto;
	border-radius: .5rem;
	box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}
.pcontainer{
  float: left;
  width: 250px;
  height: 200px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 70px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ddd;
	background: #30637c;
}
.pcontainer:hover{
	box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}  
.dashboard .card-container .card{
	position: relative;
	overflow: hidden;
  color: #fff;
  font-size: 24px;
  padding: 5px;
  text-align: center;
}
.dashboard .card-container .far,
.dashboard .card-container .fas{
  margin-top: 5px;
  font-size: 4rem;
}
/* dashboard stylesheet ends */
/* stylesheet for footer starts */
.footer{
  width: 100%;
  display: inline-block;
  background: #F7F6FB;
  height: 50px;
  margin-top: 30px;
}
.footer .foot{
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 15px;
  font-weight: normal;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  color:#30637c;
  height: 50px;
}
/* stylesheet for footer ends */
/* stylesheet for customer list starts */
.customer-list{
  width: 90%;
  height: auto;
  display: inline-block;
  background: #fff;
  border-radius: 3px 3px 3px 3px;
  margin-left: 100px;
  margin-top: 25px;
  border: none;
	box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}
.list-header{
  width: 95%;
  height: 45px;
  margin-left: 20px;
  background: #fff;
  border-radius: 3px 3px 0px 0px;
  color: #30637c;
}
.list-header h3{
  font-size: 14px;
  color: #30637c;
}
.list-header h3 a{
  font-size: 14px;
  padding: 7px;
  color: #30637c;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-left: 75%;
}
.list-header h3 a:hover{
  background: #30637c;
  color: #fff;
}
.heading{
  background: #30637c;
  color: #fff;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}
.body{
  text-align: center;
}
table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  margin-bottom: 20px;
}
tr{
  border-bottom: 1px solid #ccc;
  height: 40px;
}
tr:hover{
  color: #30637c;
  background-color: #eee;
}
th{
  text-transform: uppercase;
  font-size: 12px;
}
.customer-list table tbody tr td img{
  width: 45px;
  height: 45px;
  object-fit: cover;
}

table>tbody>td,
table>thead>th{
  width: 100%;
  height: 50px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #383737;
}

/*************************\
|--------- users ----------|
\*************************/
table tbody tr td a{
  color: #30637c;
}
/* stylesheet for customer list ends */
/* pagination stylesheet starts */
#pagingg ul.pagination{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
	font:12px 'Tahoma';
	list-style-type:none;	
	background: #eee;
	border-radius: 0px 0px 3px 3px;
}

#pagingg ul.pagination li.details{
  padding:7px 10px 7px 10px;
  font-size:14px;
	color: #30637c;
}
#pagingg ul.pagination li{
	float:left;
	margin:0px;
	padding:0px;
	margin-left:5px;
}

#pagingg ul.pagination li:first-child{
	margin-left:0px;
}

#pagingg ul.pagination li a{
	display:block;
	text-decoration:none;
	padding:7px 10px 7px 10px;
}
#pagingg ul.pagination li a img{
	border:none;
}	
ul.pagination li.details{
	color: #fff;
}
 
ul.pagination li a{
	border-radius:3px;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:6px 9px 6px 9px;
}
ul.pagination li a{
	color: #30637c;
	background: #eee;
}	
 
ul.pagination li a:hover,
ul.pagination li a.current{
	color: #fff;
	background:#30637c;
}
/* pagination stylesheet ends */
/* Add Place stylesheet starts */
.place-section{
  width: 90%;
  height: auto;
  display: inline-block;
  background: #fff;
  border-radius: 3px 3px 3px 3px;
  margin-left: 100px;
  margin-top: 25px;
  border: none;
	box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}
.placee{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* .pro-image{
  width: 40%;
  display: inline-block;
  border: 1px solid #ddd;
  margin-left: 75px;
  border-radius: 3px 3px 3px 3px;
} */
/* .pimage {
  width: 95%;
  height: 45px;
  margin-left: 10px;
  background: #fff;
  border-radius: 3px 3px 3px 3px;
  border: none;
  outline: none;
} */
h3{
	color: #30637c;
  padding: 10px 0px 15px 20px;
  text-transform: uppercase;
  text-align: center;
}
.image{
  width: 100%;
  height: 400px;
  background: #fff;
}
.place-details{
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px 3px 3px 3px;
}
.form-control {
  width: 90%;
  margin-left: 20px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background: #fff;
  color: #30637c;
  outline: none;
}
#file {
  width: 100%;
}
.pheader {
  width: 100%;
  height: 50px;
  margin-top: -15px;
  border-bottom: 1px solid #ddd;
  outline: none;
  background: #30637c;
  border-radius: 3px 3px 0px 0px;
}
.pheader h3{
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 17px ;
}
.input {
  color: #30637c;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  padding-left: 20px;
  width: 95%;
  background: #fff;
  border-radius: 3px 3px 3px 3px;
}
.input label{
  color: #30637c;
  font-size: 12px;
  padding-left: 20px;
  text-transform: uppercase;
  text-align: left;
}
.input input[type="submit"] {
  width: 150px;
  height: 45px;
  float: right;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  border-radius: 3px;
  background: #30637c;
  color: #fff;
}
.input input[type="submit"]:focus,
.input input[type="submit"]:hover
 {
  background: #ddd;
  border: 1px solid #ddd;
}
.pimage{
  width:95%;
  display: block;
}
#imagedisplay{
  display: block;
  width: 100%;
  height: 100%;
  margin: 15px;
  border-radius: 5px;
}
#uploadform{
  width: 100%;
}
img, embed{
  border: 1px solid #ddd;
  height: 200px;
  object-fit: cover;
}
/* Add Place stylesheet ends */
/* admin Profile stylesheet starts */
.admindetails{
  width: 500px;
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%,0%);
  display: inline-block;
  background: #fff;
  border-radius: 3px 3px 3px 3px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 50px;
  border: 1px solid #ddd;
}
.admindetails:hover{
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}
.admindetails .box {
  margin: 0 2rem 1rem;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}
.admindetails .box .imagee {
  margin-top: 25px;
  margin-left: 100px;
  width: 50%;
}
.admindetails .box .imagee img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.admindetails .box .content {
  width: 100%;
}
.admindetails .box .content {
  height: 100%;
  width: 100%;
  padding: 2rem;
  color: #30637c;
}
.admindetails .box .content h3 {
  font-size: 1.5rem;
  padding-bottom: 5px;
  text-decoration: underline;
  color: #30637c;
}
.admindetails .box .content td {
  width: 50%;
  padding: 10px 20px 10px 0;
}
/* admin Profile stylesheet ends */
/* password change stylesheet starts */
h1{
  text-align: center;
  color: #30637c;
}
form{
  /* left:50%; */
  transform: translateX(22%);
  /* text-align: center; */
  width: 70%;
  display: inline-block;
}
form input[type="text"],
form input[type="submit"],
form input[type="password"]{
  width: 90%;
  padding: 14px;
  margin-left: 15px;
  color: #30637c;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: left;
}
form input[type="submit"]{
  background: #30637c;
  color: #fff;
  font-size: 18px;
}
form input[type="submit"]:hover{
  background: none;
  color: #30637c;
  border: 2px solid #30637c;
}
.pname{
  width: 50%;
  float: right;
}
/* password change stylesheet ends */
/* edit admin profile stylesheet starts */
.p-image{
  position: relative;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-15%);
  width: 150px;
  height: 150px;
  display: flex;
  border: medium none;
  background: #fff;
  border-radius: 50%;
}
#imagedisplayy{
  display: block;
  width: 150px;
}
#uploadformm{
  width: 100%;
}
.box img, embed{
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 0;
}
#file {
  width: 100%;
}
.pdesc{
  width: 100%;
  padding: 20px;
  display: inline-block;
}

/* edit admin profile stylesheet ends */
/* Rating stylesheet starts */
.review-form .input-rating .stars {
	display: inline-block;
	vertical-align: top;
	color: #ddd
}
  
.review-form .input-rating .stars input[type="radio"] {
	display: none;
}
  
.review-form .input-rating .stars>label {
	float: right;
	cursor: pointer;
	padding: 0px 3px;
	margin: 0px;
}  
.review-form .input-rating .stars>label:before {
	content: "\f005";
	font-family: "Font Awesome 5 Free";
	color: #ddd;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
  
.review-form .input-rating .stars>label:hover:before, 
.review-form .input-rating .stars>label:hover~label:before {
	color: #30637c;
}
  
.review-form .input-rating .stars>input:checked label:before, 
.review-form .input-rating .stars>input:checked~label:before {
	content: "\f005";
	font-family: "Font Awesome 5 Free";
	color: #1d4052;
}
/* Rating stylesheet ends */